<!DOCTYPE html>
<html>
  <head>
    <title>BPM Live</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav>
      <a class="home-link" href="/">BPM Live</a>

      <% if user_signed_in? %>
        <p>Logged in as <%= current_user.email %></p>
        <p> <%= link_to 'View my tracks', user_path( current_user.id ) %></p>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-right' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-right'  %>
        <%= link_to 'Save', new_track_path, id: 'save', :class => 'nav-right' %>

      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :id => 'signup', :class => 'nav-right'  %> |
        <%= link_to "Login", new_user_session_path, :id => 'login', :class => 'nav-right'  %>
        <%= link_to 'Save', new_track_path, id: 'save-guest-button', :class => 'nav-right' %>
      <% end %>

      <%= link_to 'Undo', root_path, id: 'undo', :class => 'nav-right' %>
      <%= link_to 'Record', root_path, id: 'record', :class => 'nav-right' %>
      <%= link_to 'Loop', root_path, id: 'loop-track', :class => 'nav-right' %>
      <%= link_to 'Stop', root_path, id: 'stop-track', :class => 'nav-right' %>
      <%= link_to 'Play', root_path, remote: true, id: 'play-track', :class => 'nav-right' %>

    </nav>

    <!-- popup when guest clicks 'save' -->
    <div class="save-popup">You must be signed in to save tracks.</div>

    <!-- login -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
